html {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    min-height: 100%;
    height: 100%;
}

body {
    padding: 0px;
    margin: 0px;
    background-image: url('./assets/images/pattern.jpg');
    background-repeat: repeat;
}

.content-wrapper {
    max-width: 820px;
    margin: 0 auto;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media screen and (max-width: 768px) {
    .content-wrapper {
        position: static;
        top: initial;
        left: initial;
        transform: translate(0, 0);
    }
}