.grid-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 100%;
}

.item {
    height: 150px;
    padding: 0.5rem;
    box-sizing: border-box;
    flex-grow: 0;
    flex-shrink: 0;
}

.item__content {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}

.item__icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.item__title {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0.5rem;
    color: #FFF;
}

@media screen and (max-width: 2000px) and (min-width: 576px) {
    .item-type1 {
        flex-basis: 16.666666%;
    }

    .item-type2 {
        flex-basis: 16.666666%;
    }

    .item-type3 {
        flex-basis: 33.333332%;
    }

    .item-type4 {
        flex-basis: 16.666666%;
    }

    .item-type5 {
        flex-basis: 16.666666%;
    }

    .item-type6 {
        flex-basis: 33.333332%;
    }

    .item-type7 {
        flex-basis: 49.999998%;
    }

    .item-type8 {
        flex-basis: 16.666666%;
    }
}

@media screen and (max-width: 575px) {
    .item-type1 {
        flex-basis: 49.999998%;
    }

    .item-type2 {
        flex-basis: 49.999998%;
    }

    .item-type3 {
        flex-basis: 99.999996%;
    }

    .item-type4 {
        flex-basis: 49.999998%;
    }

    .item-type5 {
        flex-basis: 49.999998%;
    }

    .item-type6 {
        flex-basis: 99.999996%;
    }

    .item-type7 {
        flex-basis: 99.999996%;
    }

    .item-type8 {
        flex-basis: 99.999996%;
    }
}

.item-type1__content {
    background-color: rgba(51, 135, 234, 1);
}

.item-type2__content {
    background-color: rgba(249, 190, 62, 1);
}

.item-type3__content {
    background-color: rgba(211, 87, 62, 1);
}

.item-type4__content {
    background-color: rgba(89, 176, 226, 1);
}

.item-type5__content {
    background-color: rgba(51, 175, 149, 1);
}

.item-type6__content {
    background-color: rgba(134, 167, 63, 1);
}

.item-type7__content {
    display: flex;
    background-color: rgba(21, 26, 38, 1);
}

.item-type7__content-image {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 30%;
    height: 100%;
    background-image: url('./assets/images/blog-image.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.item-type7__content-description {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 70%;
    height: 100%;
    padding: 0.5rem;
    display: block;
    color: #FFF;
}

.item-type8__content {
    background-color: rgba(126, 91, 140, 1);
}