.bulb {
    &__lighter {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 1px solid red;
    }

    &_active {
        background-color: green;
        .bulb__lighter {
            background-color: red;
        }
        .bulb__control {
            background-color: yellow;
        }
    }
}