* {
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
    font-size: 14px;
}

ul, li, h1, h2, h3, h4, h5, br, a {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}