@import './lighter.scss';

.btn {
    background-color: aqua;

    &_clicked {
       background-color: red; 
    } 
}

.notification-bar {
    &__message {
        display: none;
    }

    &_active {
        .notification-bar__message {
            display: block;
        }
    }
}