.lighter {
    width: 200px;
    height: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: lightgray;
    transform: translate(-50%, -50%);

    &__redlight {
        width: 180px;
        height: 180px;
        position: absolute;
        top: 10px;
        left: 10px;
        border: none;
        border-radius: 90px;
        background-color: lightcoral;
    }

    &__redlight_enable {
        background-color: red;
    }

    &__yellowlight {
        width: 180px;
        height: 180px;
        position: absolute;
        top: 210px;
        left: 10px;
        border: none;
        border-radius: 90px;
        background-color: lightyellow;
    }

    &__yellowlight_enable {
        background-color: yellow;
    }

    &__greenlight {
        width: 180px;
        height: 180px;
        position: absolute;
        top: 410px;
        left: 10px;
        border: none;
        border-radius: 90px;
        background-color: lightgreen;
    }    
    
    &__greenlight_enable {
        background-color: green;
    }   
}