@import './variables.scss';
@import './mixins.scss';

.benefits {
    position: absolute;
    top: 810px;
    max-width: 1257px;
    width: 100%;
    transform: translateX(-50%);
    left: 50%;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0 10px 34px 0 rgba(210, 210, 210, 0.5);
    
    &__content {
        width: 100%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    &__content-item {
        width: 300px;
        height: 420px;
        flex-grow: 0;
        flex-shrink: 0;
        padding-top: 66px;
    }

    &__content-item_icon {
        width: 72px;
        height: 72px;
        border-radius: 6px;
    }

    &__content-item_header {
        font-size: 18px;
        font-weight: 500;
        margin-top: 26px;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #031d5b;
    }

    &__content-item_line {
        width: 60px;
        height: 4px;
        margin-top: 28px;
        background-color: #1fdb84;
    }

    &__content-item_text {
        font-size: 16px;
        margin-top: 18px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 2;
        letter-spacing: normal;
        color: #5b6c94;
    }
}

.benefits-dummy {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}