@import './variables.scss';

.btn {
    padding: $base-font-size 1.5 * $base-font-size;
    border: none;
    border-top-left-radius: $btn-default-border-radius;
    border-bottom-right-radius: $btn-default-border-radius;
    background-color: transparent;
    color: $btn-default-font-color;
    font-size: $base-font-size;
    
    &_success {
        background-color: #1fdb84;
        box-shadow: 0 8px 34px 0 rgba(31, 219, 132, 0.6);
    }
}