@import './variables.scss';
@import './mixins.scss';
@import './fonts.scss';

$feedback-item-width: 420px;
$feedback-item-height: 500px;


.feedback {
    width: 100%;
    min-height: 970px;
    position: relative;
    margin-top: 280px;

    &__background {        
        position: absolute;
        z-index: -1;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: stretch;

        &-img {
            width: 630px;
            height: 100%;
            flex-grow: 0;
            flex-shrink: 0;
            font-family: 'bahnschrift';
            font-size: 1500px;
            font-weight: lighter;            
            line-height: 0.88;
            letter-spacing: 0px;
            color: rgba(31, 219, 132, 0.1);
         } 

         &-color {
            height: 100%;
            flex-grow: 1;
            flex-shrink: 1;
            background-color: #313a5a;
         } 
    }

    &__data {
        width: 100%;
        height: 100%;

        &-header {
            width: 100%;
            padding-top: 60px;
            padding-left: 60px;
            font-size: 40px;
            font-weight: 500;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.2;
            letter-spacing: normal;
            color: #031d5b;
        }

        &-slider{
            display: block;
            position: relative;
            top: 60px;
            left: calc(50% - 200px);
            width: 100%;
            max-width: calc(50% + 200px); 
            height: 600px;
            overflow: hidden;
        }

        &-item {
            position: absolute;            
            top: 10px;
            width: 100%;
            max-width: $feedback-item-width;
            height: $feedback-item-height;
            border-radius: 6px;
            display: inline-block;
            color: #5b6c94;
            background-color: rgba(255, 255, 255, 0.95);
            transition: all 500ms;
        }

        &-item_selected {
            transform: translateX(0px);
            color: #ffffff !important;
            background-color: #1fdb84 !important;
        }

        &-item_num2{
            transform: translateX(($feedback-item-width + 20px) * 1);
        }

        &-item_num3 {
            transform: translateX(($feedback-item-width + 20px) * 2);
        }

        &-item-header {
            position: absolute;
            top: 80px;
            left: 45px;
            font-family: 'bahnschrift';
            font-size: 150px;
            font-weight: lighter;
            line-height: 0.88;
            letter-spacing: 0px; 
            color: #1fdb84;
            transition: all 500ms;                   
        }

        &-item-header_selected {
            color: #ffffff;                      
        }

        &-item-text {
            height: 260px;
            margin-top: 140px;            
            padding-left: 50px;
            padding-right: 60px;
            font-size: 18px;
            font-weight: 100;
            font-style: normal;
            font-stretch: normal;
            line-height: 2;
            letter-spacing: normal;
        }

        &-item-footer {
            width: 100%;
            padding-left: 50px;
            padding-right: 60px;
            font-size: 18px;
            font-weight: 100;
            font-style: normal;
            font-stretch: normal;
            line-height: 2;
            letter-spacing: normal;            
        }

        &-buttons-section {
            position: absolute;
            top: 800px;
            width: 100%;
            display: flex;
            justify-content: center;
        }

        &-buttons-container {
            display: flex;
            justify-content: center;
            border-radius: 30px;
            background-color: #313a5a;
        }

        &-btn {
            width: 20px;
            height: 20px;
            margin: 20px;
            border: solid 3px #ffffff;            
            border-radius: 10px;
            outline: none;
            background: none;
            transition: all 200ms;
        }

        &-btn_selected {    
            background: #ffffff;  
        }
    }
}