@import './variables.scss';
@import './mixins.scss';

.footer {
    @include pageContainer;
    padding-top: 200px;

    &__header {
        display: block;
        margin: 0 auto;
        font-size: 16px;
        font-weight: lighter;
        font-style: normal;
        font-stretch: normal;
        line-height: 2;
        letter-spacing: normal;
        text-align: center;
        color: #5b6c94;    
    }

    &__content {        
        width: 100%;
        max-width: 780px;
        margin: 0 auto;
        padding-top: 50px;
        padding-bottom: 100px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        &-text {
            min-width: 50px;
            font-size: 16px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 2;
            letter-spacing: normal;
            text-align: center;
            color: #5b6c94;
        }

        &-link {
            @extend .footer__content-text;
            text-decoration: none;
        }
    }
}