@import './variables.scss';
@import './mixins.scss';

$page-nav-item-margin: 36px;
$page-nav-link-margin: 20px;
$page-nav-link-color: #ffffff;
$logo-font-size: 26px;
$page-nav-link-font-size: 14px;
$banner-info-width: 553px;

.page-header {
    position: relative;
    background-color: $background-dark;
}

.page-nav {
    @include pageContainer;
    height: $navbar-height;
    display: flex;
    justify-content: space-between;

    &__logo {
        @include flexCenterVertical;
        color: $page-nav-link-color;
        font-size: $logo-font-size;
        font-weight: normal;
        padding-left: 10px;
    }

    &__toggle {
        width: 40px;
        height: 40px;
        margin: auto 0;
        display: none;
        border: none;
        background: none;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
        border-radius: 4px;
        outline: none;
        transition: all 500ms;

        &-line {
            width: 32px;
            height: 3px;
            border: none;
            background-color: $page-nav-link-color;
        }
    }

    &__menu {       
        display: flex;
        justify-content: center;
    }

    &__item {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: $page-nav-item-margin;
        margin-right: $page-nav-item-margin;
    }

    &__link {
        color: $page-nav-link-color;
        display: flex;
        align-items: center;
        justify-content: center;      
    }

    &__link-title {
        font-weight: lighter;
        font-size: $page-nav-link-font-size;
    }
}

@media only screen and (max-width: $md-screen) {
    .page-nav__menu_col {
        transform: translateX(100%);  
    }

    .page-nav__menu {
        display: block;
        position: absolute;
        z-index: 999;
        top: $navbar-height;
        left: -100%;        
        width: 100%;
        padding: 5px;
        background-color: rgba($color: $background-dark, $alpha: 0.95);
        transition: transform 500ms;
    }

    .page-nav__item {
        display: flex;
        justify-content: center;
        margin-left: 0px;
        margin-right: 0px;
        border-bottom: 1px rgba($color: #ffffff, $alpha: 0.1) solid;
    }

    .page-nav__link {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .page-nav__link-title {
        font-size: 20px;
    }
}

.accaunt-panel {
    display: flex;
    align-content: center;

    &__btn {
        margin: 0;
    }
}

.banner {
    @include pageContainer;
    display: flex;
    justify-content: space-between;

    &__info {
        width: 100%;
        max-width: $banner-info-width + $page-container-padding;
        height: 100%;
        padding-top: 150px;
        margin-bottom: 100px;
    }

    &__info-header {
        width: 100%;
        max-width: 512px;
        font-size: 48px;
        font-weight: lighter;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #ffffff;
    }

    &__info-content {
        width: 100%;
        max-width: 553px;
        height: 128px;
        margin-top: 50px;
        font-size: 16px;
        font-weight: lighter;
        font-style: normal;
        font-stretch: normal;
        line-height: 2;
        letter-spacing: normal;
        color: #ffffff;
    }

    &__info-btn {
        width: 200px;
        height: 60px;
        margin-top: 50px;
    }
}

@media only screen and (max-width: $md-screen) {
    .page-nav__toggle {
        display: flex;        
    }

    .page-nav__toggle_enable {
        background-color: rgba($color: #ffffff, $alpha: 0.1)
    }

    .banner__info {
        padding-top: 50px;
    }

    .banner__info-header {
        font-size: 24px;
    }

    .banner__info-content {
        margin-top: 0px;
        font-size: 14px;
    }
}

@media only screen and (min-width: $md-screen) {
    .banner__img {
        width: 463px;
        height: 792px;
        background-image: url("./assets/images/artboard.png");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }
}