@import './variables.scss';

$btn-section-container-border-color: #aefdd9;
$btn-section-container-border-width: 1px;
$btn-section-container-border-radius: 5px;

.paid-plan {
    @include pageContainer;

    &__header {
        max-width: 810px;
        width: 100%;      
        margin: 0 auto;
        justify-content: space-around;
        padding-top: 120px;
        font-size: 36px;        
        font-weight: lighter;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.6;
        letter-spacing: normal;
        text-align: center;
        color: #32325c;    
    }

    &__btnsection {
        width: 100%;
        display: flex;
        justify-content: space-around;
        padding-top: 40px;
        padding-bottom: 40px;
        
        &-container {
            width: 470px;
            height: 60px;
            display: flex;
            border-radius: $btn-section-container-border-radius;
            border: solid $btn-section-container-border-width $btn-section-container-border-color;
        }

        &-container-sep {
            width: $btn-section-container-border-width;
            height: 100%;
            background-color: $btn-section-container-border-color;            
            border: none;
        }

        &-container-btn {
            border: none;
            font-size: 16px;
            font-weight: lighter;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: 2px;
            color: #1fdb84;
            background-color: #f1fff8;
        }

        &-container-btn_small {
            @extend .paid-plan__btnsection-container-btn;
            background-color: #ffffff;
            width: 35%;
            border-top-left-radius: $btn-section-container-border-radius;
            border-bottom-left-radius: $btn-section-container-border-radius;
        }

        &-container-btn_big {
            @extend .paid-plan__btnsection-container-btn;
            width: 65%;
            border-top-right-radius: $btn-section-container-border-radius;
            border-bottom-right-radius: $btn-section-container-border-radius;
        }
    }

    &__itemsection {
        width: 100%;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        padding-top: 20px;

        &-item {
            width: 378px;
            height: 665px;
            border-top: 3px solid $background-light;
        }

        &-item:hover {
            border-top: 3px solid #0a8aff;
            background-color: #ffffff;
            box-shadow: 0 7px 24px 0 rgba(83, 83, 83, 0.1);
        }

        &-item-header {
            width: 100%;
            font-size: 24px;
            padding-top: 60px;
            padding-bottom: 20px;
            font-weight: lighter;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.33;
            letter-spacing: 0.3px;
            text-align: center;
            color: #32325c;
        }

        &-item-data {
            width: 210px;
            height: 428px;
            margin: 0 auto;
        }
        
        &-item-data-cost {
            width: 100%;
            padding-top: 10px;
            padding-bottom: 10px;
            font-size: 72px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 0.89;
            letter-spacing: normal;
            text-align: center;
            color: #1fdb84;
        }
        
        &-item-data-info {
            width: 100%;
            font-size: 16px;
            padding-top: 5px;
            padding-bottom: 5px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 2;
            letter-spacing: 0.2px;
            text-align: center;
            color: #5b6c94;
        }

        &-item-data-period {
            @extend .paid-plan__itemsection-item-data-info;
            padding-bottom: 40px;
        }

        &-item-btn {
            display: block;
            width: 100%;
            max-width: 255px;
            height: 60px;
            margin: 0 auto;
        }


    }

 
    
}