@import './variables.scss';
@import './mixins.scss';

.platforms {
    @include pageContainer;
    padding-top: 200px;

    &__header {
        display: block;
        margin: 0 auto;
        font-size: 16px;
        font-weight: lighter;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 1px;
        text-align: center;
        color: #031d5b;
    }

    &__content {
        width: 100%;
        display: flex;        
        justify-content: space-around;
        flex-wrap: wrap;        
        padding-top: 100px;
        
        &-item {
            text-decoration: none;  
        }
    }
}