* {
  box-sizing: border-box; }

html {
  font-family: sans-serif;
  font-size: 14px; }

ul, li, h1, h2, h3, h4, h5, br, a {
  padding: 0;
  margin: 0; }

li {
  list-style: none; }

a {
  text-decoration: none; }
.street-lighter {
  display: -ms-flexbox;
  display: flex;
  width: 60px;
  margin: 0 auto;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.4);
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center; }
  .street-lighter__light {
    width: 50px;
    height: 50px;
    border: 1px solid red;
    border-radius: 50%; }
    .street-lighter__light_red.street-lighter__light_active {
      background-color: red; }
    .street-lighter__light_yellow.street-lighter__light_active {
      background-color: yellow; }
    .street-lighter__light_green.street-lighter__light_active {
      background-color: green; }
.bulb__lighter {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid red; }

.bulb_active {
  background-color: green; }
  .bulb_active .bulb__lighter {
    background-color: red; }
  .bulb_active .bulb__control {
    background-color: yellow; }
.garland__output {
  border: 1px solid green; }
.select {
  position: relative;
  border: 1px solid red;
  width: 220px; }
  .select__title {
    border: none;
    background: transparent;
    display: inline-block;
    font-size: 14px;
    outline: none;
    cursor: pointer;
    padding: 10px;
    width: 100%; }
  .select__options {
    position: absolute;
    top: 38px;
    left: 0px;
    width: 100%;
    background-color: white;
    box-shadow: 0px 4px 8px 0px #00000066;
    -ms-transform: scaleY(0);
        transform: scaleY(0);
    visibility: hidden;
    -ms-transform-origin: top center;
        transform-origin: top center;
    transition: all 500ms; }
  .select__control {
    border: none;
    background: transparent;
    display: inline-block;
    font-size: 14px;
    outline: none;
    cursor: pointer;
    width: 100%;
    text-align: right;
    padding: 10px; }
  .select_expand .select__options {
    -ms-transform: scaleY(1);
        transform: scaleY(1);
    visibility: visible; }
