* {
  box-sizing: border-box; }

html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px; }

.lampspanel {
  margin: 0 auto;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: stretch;
      justify-content: stretch;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #e9e9e9;
  border-radius: 10px;
  border: none; }
  .lampspanel__content {
    -ms-flex-positive: 1;
        flex-grow: 1;
    -ms-flex-negative: 1;
        flex-shrink: 1;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: start;
        justify-content: flex-start;
    -ms-flex-align: center;
        align-items: center; }
  .lampspanel__btn {
    -ms-flex-positive: 0;
        flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    width: 300px;
    height: 300px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center; }
    .lampspanel__btn-toggleAll {
      width: 260px;
      height: 260px;
      border: none;
      border-radius: 10px;
      font-size: 2rem;
      background-color: #d0e2f2;
      outline: none; }
    .lampspanel__btn-toggleAll_enabled {
      background-color: lightgreen; }

.lamp-block {
  width: 260px;
  height: 260px;
  -ms-flex-positive: 0;
      flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin: 20px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-align: center;
      align-items: center;
  border-radius: 10px;
  border: none;
  background-color: white; }
  .lamp-block__lamp {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    border: none;
    background-color: #d0e2f2; }
  .lamp-block__lamp_enabled {
    background-color: yellow; }
  .lamp-block__btn {
    width: 200px;
    height: 50px;
    border-radius: 10px;
    border: none;
    text-align: center;
    font-size: 1.5rem;
    background-color: #d0e2f2;
    outline: none; }
  .lamp-block__btn_enabled {
    background-color: lightgreen; }
