.lighter {
  width: 200px;
  height: 600px;
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: lightgray;
  -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }
  .lighter__redlight {
    width: 180px;
    height: 180px;
    position: absolute;
    top: 10px;
    left: 10px;
    border: none;
    border-radius: 90px;
    background-color: lightcoral; }
  .lighter__redlight_enable {
    background-color: red; }
  .lighter__yellowlight {
    width: 180px;
    height: 180px;
    position: absolute;
    top: 210px;
    left: 10px;
    border: none;
    border-radius: 90px;
    background-color: lightyellow; }
  .lighter__yellowlight_enable {
    background-color: yellow; }
  .lighter__greenlight {
    width: 180px;
    height: 180px;
    position: absolute;
    top: 410px;
    left: 10px;
    border: none;
    border-radius: 90px;
    background-color: lightgreen; }
  .lighter__greenlight_enable {
    background-color: green; }

.btn {
  background-color: aqua; }
  .btn_clicked {
    background-color: red; }

.notification-bar__message {
  display: none; }

.notification-bar_active .notification-bar__message {
  display: block; }
