$elements-default-background: rgba(208, 226, 242, 1);
$elements-default-width: 300px;
$elements-default-height: 300px;

* {
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}


.lampspanel {
    margin: 0 auto;
    display: flex;
    justify-content: stretch;
    flex-wrap: wrap;
    background-color: rgba(233, 233, 233, 1);
    border-radius: 10px;
    border: none;

    &__content {
        flex-grow: 1;
        flex-shrink: 1;
        flex-wrap: wrap;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    &__btn {
        flex-grow: 0;
        flex-shrink: 0;
        width: $elements-default-width;
        height: $elements-default-height;
        display: flex;
        justify-content: center;
        align-items: center;

        &-toggleAll {
            width: $elements-default-width - 40px;
            height: $elements-default-height - 40px;
            border: none;
            border-radius: 10px;
            font-size: 2rem;
            background-color: $elements-default-background;
            outline: none;
        }

        &-toggleAll_enabled {
            background-color: lightgreen;
        }
    }
}

.lamp-block {
    width: $elements-default-width - 40px;
    height: $elements-default-height - 40px;
    flex-grow: 0;
    flex-shrink: 0;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    border: none;
    background-color: white;

    &__lamp {
        width: 160px;
        height: 160px;
        border-radius: 50%;
        border: none;
        background-color: $elements-default-background;
    }

    &__lamp_enabled {
        background-color: yellow;
    }

    &__btn {
        width: 200px;
        height: 50px;
        border-radius: 10px;
        border: none;
        text-align: center;
        font-size: 1.5rem;
        background-color: $elements-default-background;
        outline: none;
    }

    &__btn_enabled {
        background-color: lightgreen;
    }
}